:host {
	/* Will be set from javascript */
	/* --border: 10px; */
	/* --inner-border-radius: 10px; */
	font-size: 14px;
}

.hidden {
	display: none !important;
}

* {
	box-sizing: border-box;
	color: #010101;
	font-family: "Roboto", sans-serif;
}

.container {
	--icon-size: 70px;

	padding: .5em;
	border-radius: var(--inner-border-radius);
	position: relative;
	background: hsl(265, 100%, 92%);
	width: 420px;
	overflow: hidden;
	margin: var(--border);
}

.container .loading-screen {
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;

	height: auto;
	opacity: 1;
	transition: height 0ms 0ms, opacity 600ms 0ms;
}

.container .data-screen {
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: height 0ms 400ms, opacity 400ms 0ms;
}

.container[data-is-loading="false"] .loading-screen {
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: height 0ms 400ms, opacity 400ms 0ms;
}

.container[data-is-loading="false"] .data-screen {
	padding: 0.5em 8px 0;
	height: auto;
	opacity: 1;
	transition: height 0ms 0ms, opacity 600ms 0ms;
}

.basic-info {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"heading icon"
		"info icon";
}

.basic-info h2 {
	margin: 0 0 1em;
	grid-area: heading;
	font-size: 1.5em;
}

.basic-info .icon-container {
	grid-area: icon;
}

.basic-info .icon {
	color: hsl(265, 100%, 40%);
	width: var(--icon-size);
	height: var(--icon-size);
}

.basic-info p {
	grid-area: info;
	margin: 0;
	font-size: 1.1em;
}

.basic-info p>span {
	display: block;
}

.financial-info {
	display: flex;
	flex-direction: row;
	gap: 5px;
	flex-wrap: nowrap;
	margin: 0.9375em 0;
}

.financial-info .item {
	background: hsla(263, 77%, 88%, 1);
	padding: 0.625em 0 1em;
}

h4 {
	text-align: center;
	color: hsl(264, 29%, 53%);
	font-size: 1.1em;
	font-weight: 700;
	margin: 0 0 .5em;
}

.transaction-info {
	flex: 3;
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: auto 4px auto;
	place-items: center;
}

.transaction-info h4 {
	grid-row: 1;
	grid-column: 1 / -1;
}

.seperator {
	grid-column: 2;
	grid-row: 2;
}

.transaction-info-item {
	grid-row: 2;
	text-align: center;
}

.transaction-info-item:first-child {
	border-right: 2px solid gray;
}

.transaction-info-item span {
	display: block;
}

.transaction-info-item span:first-child {
	font-size: 2em;
	font-weight: 500;
	text-align: center;
	margin-bottom: 4px;
}

.drained-info {
	flex: 2;
	display: flex;
	flex-direction: column;
}

.drained-info>span {
	margin: auto;
}

.drained-info .value {
	color: hsl(0, 0%, 47%);
	font-size: 1.5em;
	font-weight: 700;
}

.drained-info .value[data-priority="high"] {
	color: hsl(0, 100%, 52%);
}

.drained-info .value[data-priority="medium"] {
	color: hsl(37deg 100% 44.56%);
}

.drained-info .value[data-priority="low"] {
	color: hsl(115, 100%, 42%);
}

.drained-info .icon {
	height: 16px;
	width: 16px;
	margin-left: 10px;
	cursor: pointer;
}

.bottom-container {
	display: flex;
	align-items: center;
	margin-top: 5px;
	padding-bottom: 2px;
}

.bottom-container button {
	border: none;
	color: #41019a;
}

.credits {
	margin-right: auto;
	text-align: right;
	color: hsl(264, 29%, 53%);
	font-size: 0.8em;
	font-weight: 700;
}

button {
	margin-left: 5px;
	border-radius: 3px;
	padding: .2em .6em;
	font-weight: 500;
	cursor: pointer;
	font-size: .9em;
	line-height: 19px;
	border: 2px solid rgb(187 187 187);
	background: none;
	opacity: 0.7;
	transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button:focus,
button:focus-visible {
	outline: 1.4px solid #410b77
}

button:hover {
	opacity: 1;
	border-color: hsl(265deg 94% 75%);
}

@keyframes rotate-360 {
	to {
		rotate: 180deg;
	}
}

.container[data-is-loading="true"] .icon-tabler-loader {
	animation: rotate-360 infinite 0.6s linear;
	margin-right: 10px;
}

summary {
	opacity: 0.7;
	cursor: pointer;
	padding: 3px 0;
	width: fit-content;
}

summary::marker {
	color: #5500cc;
}

details[open] summary {
	opacity: 1;
}

ul {
	list-style: "- " outside;
	padding-left: 13px;
}

li {
	line-height: 1.5;
	font-size: 12px;
}

#report-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-top: 1px solid #c2a1ef;
	margin-top: 10px;
}

#report-form h2 {
	margin: 5px 0;
}

#report-form div[data-show-if] {
	margin-top: 6px;
}

#report-form label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 13px;
	line-height: 1.2;
	color: #3f0294
}

.select-div {
	align-items: center;
	display: flex;
	vertical-align: middle;
}

select {
	border-radius: 4px;
	padding: 4px 6px;
	width: 100%;
	color: #3f0294;
	width: auto;
	flex: 1;
	margin-left: 10px;
}

select,
option {
	cursor: pointer;
}

#report-form select,
#report-form textarea {
	background-color: hsl(265 100% 90%);
	border-color: #c2a1ef;
	line-height: 1.2
}

#report-form textarea {
	width: 100%;
	border-radius: 4px;
	padding: 2px 4px;
	resize: vertical;
	font-size: .9em;
	padding: 7px;
}

#report-form button {
	margin-left: auto;
}

.active-btn {
	border: 2px solid #c2a1ef !important;
	background: #d4b6ff;
}

.form-response-message.error {
	color: hsl(0, 100%, 52%);
}

.form-response-message.success {
	color: hsl(133deg 100% 33%);
}

::placeholder {
	color: #b59bd9;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #b59bd9;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #b59bd9;
}

.tip {
	margin-bottom: -1px;
	margin-left: 3px;
	padding-top: 1px;
}

.tip:hover .tooltip {
	display: block;
}

.tooltip {
	display: none;
	color: red;
	margin-left: 28px;
	/* moves the tooltip to the right */
	margin-top: 15px;
	/* moves it down */
	position: absolute;
	z-index: 1000;
}

.hero-link {
	color: hsl(264, 29%, 53%) !important;
    text-decoration: none;
}