service: vigilancedao-prod

custom:
  # Our stage is based on what is passed in when running serverless
  # commands. Or falls back to what we have set in the provider section.
  stage: ${opt:stage, 'offline'}
  region: 'ap-northeast-1'
  bundle:
    linting: false
    excludeFiles: "**/*.test.ts"
  serverless-offline:
    httpPort: 4000
    noPrependStageInUrl: true
  apiGatewayCaching:
    enabled: true
    ttlInSeconds: 3600

provider:
  name: aws
  runtime: nodejs16.x
  region: ap-northeast-1
  memorySize: 512
  timeout: 180
  logRetentionInDays: 90
  logs:
    httpApi: true
  httpApi:
    # metrics: true # Enable if you need
    cors: true

functions:
  # app:
  #   handler: src/handler.handler
  #   # reservedConcurrency: 100
  #   events:
  #     - http:
  #         path: '/{proxy+}'
  #         method: '*'
  #         caching:
  #           enabled: true
  #           cacheKeyParameters:
  #             - name: integration.request.header.bodyValue
  #               mappedFrom: method.request.body
    
  domain-info:
    handler: src/handler.handler
    events:
      - http:
          path: '/domain-info'
          method: POST
          cors: true
          caching:
            enabled: true
            cacheKeyParameters:
              - name: integration.request.header.address
                mappedFrom: method.request.body.address
    
  contract-info:
    handler: src/handler.handler
    events:
      - http:
          path: '/contract-info'
          method: POST
          cors: true
          caching:
            enabled: true
            cacheKeyParameters:
              - name: integration.request.header.address
                mappedFrom: method.request.body.address
              - name: integration.request.header.chain_id
                mappedFrom: method.request.body.chain_id

package:
  individually: true

plugins:
  - serverless-dotenv-plugin
  - serverless-bundle
  - serverless-offline
  - serverless-api-gateway-caching


# domain-info:
#     handler: src/handler.handler
#     events:
#       - http:
#           path: '/domain-info'
#           method: POST
#           caching:
#             enabled: true
#             cacheKeyParameters:
#               - name: integration.request.header.bodyValue
#                 mappedFrom: method.request.body
  
#   contract-info:
#     handler: src/handler.handler
#     events:
#       - http:
#           path: '/contract-info'
#           method: POST
#           caching:
#             enabled: true
#             cacheKeyParameters:
#               - name: integration.request.header.bodyValue
#                 mappedFrom: method.request.body